* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER + NAVIGATION STYLING */

header {
    position: sticky;
    top: 0;
    background-color: #eec170;
    padding-bottom: 16px;
}

.nav-menu {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eec170;
    padding: 12px;
    /* border: 2px solid red; */
}

.nav-menu .list-container {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    padding: 8px;
    /* border: 2px solid black; */
}

.list-container a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.list-container a:hover {
    color: lightslategray;
}

.logo a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}


/* MAIN STYLING */

main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4d06f;
    height: 100vh;
}

main h1 {
    text-align: center;
    font-weight: bold;
    padding: 8px;
}

.list-container {
    display: flex;
    justify-content: center;
}

.main-list {
    background-color: #eec170;
    width: 60%;
    height: 60vh;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}

.main-list li {
    font-size: 1.2rem;
}


/* FOOTER STYLING */

footer {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eec170;
    padding: 12px;

    /* border: 2px solid black; */
}

footer .list-container {
    width: 80%;
    height: 10vh;
    display: flex;
    /* flex: 1; */
    justify-content: space-evenly;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    padding: 8px;
    /* border: 2px solid red; */
}