* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER + NAVIGATION STYLING */

header {
    position: sticky;
    top: 0;
}

.nav-menu {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eec170;
    padding: 12px;
    /* border: 2px solid red; */
}

.nav-menu .list-container {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    padding: 8px;
    /* border: 2px solid black; */
}

.list-container a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.list-container a:hover {
    color: lightslategray;
}

.logo a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}


/* MAIN STYLING */
main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4d06f;
    height: 80vh;
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}

.transp-intro {
    text-align: center;
}

.transp-intro h1 {
    font-weight: bold;
    font-size: 2.8;
    padding: 8px;
}

.transp-intro p {
    font-size: 1.5rem;
}

.transp-sub {
    /* border: 2px solid black; */
    padding-top: 60px;
    height: 30vh;
}

.transp-sub h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-container {
    /* border: 2px solid green; */
    height: inherit;
    display: flex;
    justify-content: space-evenly;
}

.info-container .sub-info {
    /* border: 2px solid red; */
    background-color: #eec170;
    width: 35%;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}

.sub-info li {
    font-size: 1.2rem;
}



/* FOOTER STYLING */

footer {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eec170;
    padding: 12px;

    /* border: 2px solid black; */
}

footer .list-container {
    width: 80%;
    height: 10vh;
    display: flex;
    /* flex: 1; */
    justify-content: space-evenly;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    padding: 8px;
    /* border: 2px solid red; */
}